---
import "../styles/base.css";
import Header from "../components/header.astro";

const { frontmatter } = Astro.props;
const url = Astro.url.toString();
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />

		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">

		<meta name="description" content={frontmatter.title}>
		<meta name="author" content="Ben Reinhart">
		<meta name="keywords" content="ben reinhart, website, blog, software, founder, software developer">

		<meta property="og:type" content="article" />
		<meta property="og:locale" content="en_US" />
		<meta property="og:title" content={frontmatter.title} />
		<meta property="og:description" content={frontmatter.description} />
		<meta property="og:url" content={url} />
		<meta property="og:article:published_time" content={frontmatter.published} />

		<script defer data-domain="benreinhart.com" src="https://plausible.io/js/script.js"></script>

		<script>
			const theme = localStorage.getItem('theme');
			if (theme) { document.documentElement.dataset.theme = theme; }
		</script>

		<title>{frontmatter.title}</title>
	</head>
	<body>
    <Header />
    <main class="md:flex md:justify-center pt-10 pb-40">
			<article class="prose px-4 lg:px-0 break-word">
				<slot />
			</article>
    </main>
	</body>
</html>
